<h1>Liste des classes</h1>
<a href="{{ path('addClass') }}">Add Classroom</a>
<table border="1">
    {% for c in list %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td><a href="{{ path('detail',{'id':c.id}) }}">Details</a></td>
        <td><a href="{{ path('delete',{'id':c.id}) }}">Supprimer</a></td>
        <td><a href="{{ path('update',{'id':c.id}) }}">Modifier</a></td>
        <td><a href="{{ path('studentsByClassroom',{'id':c.id}) }}">Show students</a></td>

    </tr>
    {% endfor %}
</table>