<h1>Liste des formations</h1>

<table border="1">
    {% for formation in formations %}
        <tr>
            <td>{{ formation.ref }}</td>
            <td>{{ formation.Titre }}</td>
            <td>{{ formation.Description }}</td>
            <td>{{ formation.date_debut }}</td>
            <td>{{ formation.date_fin }}</td>
            <td>{{ formation.nb_participants }}</td>
            {#  <td>
                {% if formation.nb_participants == 0 %}
                <form action="{{ path('getName',{'name':formation.Titre}) }}">
                    <button type="submit" >Participer</button>
                </form>
                {% endif %}
            </td>#}
            <td>
                {% if formation.nb_participants == 0 %}
                <a href="{{ path('getName',{'name':formation.Titre}) }}">Participer</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>

le nombre des formations : {{ formations|length }}